﻿@model Entities.Flights;
@{
    ViewData["Title"] = "Crear un Vuelo";
}
<h3>@ViewData["Title"]</h3>
<br />
<br />
<form asp-controller="Flights" asp-action="Create" method="post" autocomplete="off">
    <div class="mb-3 row">
        <label for="Origen" class="col-sm-2 col-form-label">Origen</label>
        <div class="col-sm-10">
            <input type="text" class="form-control validate letter" id="Origen" name="Origen" requerido maxlength="25">
        </div>
    </div>

    <div class="mb-3 row">
        <label for="Destino" class="col-sm-2 col-form-label">Destino</label>
        <div class="col-sm-10">
            <input type="text" class="form-control validate letter" id="Destino" name="Destino" requerido maxlength="25">
        </div>
    </div>

    <div class="mb-3 row">
        <label for="Cupos" class="col-sm-2 col-form-label">Cupos</label>
        <div class="col-sm-10">
            <input type="text" class="form-control validate numeric" id="Cupos" name="Cupos" requerido maxlength="2">
        </div>
    </div>

    <div class="mb-3 row">
        <label for="Precio" class="col-sm-2 col-form-label">Precio</label>
        <div class="col-sm-10">
            <input type="text" class="form-control validate precio" id="Precio" name="Precio" requerido maxlength="11">
        </div>
    </div>

    <button class="btn btn-success" type="submit" onclick="validationFiels()">Crear</button>
</form>
