﻿@{
    ViewData["_Title"] = "Vuelos";
    Entities.Flights apiItem = (Entities.Flights)ViewData["item"];
}

<div class="card">
    <div class="card-header">
        Datos del @ViewData["_Title"]
    </div>
    <div class="card-body">
        <blockquote class="blockquote mb-0">
            <p>Origen: @apiItem.Origen.</p>
            <p>Destino: @apiItem.Destino.</p>
            <p>Cupos: @apiItem.Cupos.</p>
            <p>Precio: @apiItem.Precio.</p>
        </blockquote>
    </div>
</div>
<br />
<a asp-controller="Flights" asp-action="Edit" asp-route-id="@apiItem.Id" class="btn btn-success">Actualizar</a>
<button onclick="FunctionDelete(@apiItem.Id)" type="button" class="btn btn-danger" id="">Borrar</button>

<script>
    function FunctionDelete(id) {
        let opcion = confirm("¿Seguro que desea eliminar?");
        if (opcion == true) {
            location.href = '@Url.Action("Delete", "Flights")?id=' + id;
        }
    }
</script>