﻿@model Entities.Flights;
@{
    ViewData["Title"] = "Crear un Vuelo";
}
<h3>@ViewData["Title"]</h3>
<br />
<br />
<form asp-controller="Flights" asp-action="Create" method="post" autocomplete="off">
    <div class="mb-3 row">
        <label for="Origen" class="col-sm-2 col-form-label">Origen</label>
        <div class="col-sm-10">
            <input type="text" class="form-control validate letter" id="Origen" name="Origen" requerido maxlength="25" value="@Html.DisplayFor(m => m.Origen)">
        </div>
    </div>

    <div class="mb-3 row">
        <label for="Destino" class="col-sm-2 col-form-label">Destino</label>
        <div class="col-sm-10">
            <input type="text" class="form-control validate letter" id="Destino" name="Destino" requerido maxlength="25" value="@Html.DisplayFor(m => m.Destino)">
        </div>
    </div>

    <div class="mb-3 row">
        <label for="Cupos" class="col-sm-2 col-form-label">Cupos</label>
        <div class="col-sm-10">
            <input type="text" class="form-control validate numeric" id="Cupos" name="Cupos" requerido maxlength="2" value="@Html.DisplayFor(m => m.Cupos)">
        </div>
    </div>

    <div class="mb-3 row">
        <label for="Precio" class="col-sm-2 col-form-label">Precio</label>
        <div class="col-sm-10">
            <input type="text" class="form-control validate precio" id="Precio" name="Precio" requerido maxlength="11" value="@Html.DisplayFor(m => m.Precio)">
        </div>
    </div>

    <input type="hidden" class="form-control" id="id" name="id" value="@Html.DisplayFor(m => m.Id)">
    <button class="btn btn-success" type="submit" onclick="validationFiels()" asp-route-id="@Html.DisplayFor(m => m.Id)">Actualizar</button>
</form>
