﻿@model Entities.Travels;
@{
    ViewData["Title"] = "Crear un Boleto";
    List<Entities.Flights> apiListFlights = (List<Entities.Flights>)ViewData["listFlights"];
}
<h3>@ViewData["Title"]</h3>
<br />
<br />
<form asp-controller="Travels" asp-action="Create" method="post" autocomplete="off">
    <div class="mb-3 row">
        <label for="Cedula" class="col-sm-2 col-form-label">Cedula</label>
        <div class="col-sm-10">
            <input type="text" class="form-control validate numeric" id="Cedula" requerido maxlength="9" onfocusout="GetUsersByCedula()">
        </div>
    </div>

    <div id="usersInformation">
        <div class="mb-3 row">
            <label for="" class="col-sm-2 col-form-label">Nombre</label>
            <div class="col-sm-10">
                <input type="text" readonly class="form-control-plaintext" id="Nombre" value="">
            </div>
        </div>

        <div class="mb-3 row">
            <label for="" class="col-sm-2 col-form-label">Apellido</label>
            <div class="col-sm-10">
                <input type="text" readonly class="form-control-plaintext" id="Apellido" value="">
            </div>
        </div>

        <div class="mb-3 row">
            <label for="" class="col-sm-2 col-form-label">Telefono</label>
            <div class="col-sm-10">
                <input type="text" readonly class="form-control-plaintext" id="Telefono" value="">
            </div>
        </div>

        <input type="hidden" class="form-control" id="UsersId" name="UsersId" value="">
    </div>



    <div class="mb-3 row">
        <label for="FlightsId" class="col-sm-2 col-form-label">FlightsId</label>
        <div class="col-sm-10">
            <select class="form-control" id="FlightsId" name="FlightsId" requerido onchange="FunctionChangeFlights()">
                <option selected disabled>Open this select menu</option>
                @foreach (var item in apiListFlights)
                {
                    <option value="@item.Id">@item.Origen - @item.Destino</option>
                }
            </select>
        </div>
    </div>

    <div id="flightsInformation">
        <div class="mb-3 row">
            <label for="" class="col-sm-2 col-form-label">Precio</label>
            <div class="col-sm-10">
                <input type="text" readonly class="form-control-plaintext" id="Precio" value="">
            </div>
        </div>

        <div class="mb-3 row">
            <label for="" class="col-sm-2 col-form-label">Cupos Disponibles</label>
            <div class="col-sm-10">
                <input type="text" readonly class="form-control-plaintext" id="Cupos" value="">
            </div>
        </div>

        <div class="mb-3 row">
            <label for="Cedula" class="col-sm-2 col-form-label">Asientos</label>
            <div class="col-sm-10">
                <input type="text" class="form-control validate numeric" id="PurchasedSeats" name="PurchasedSeats" requerido maxlength="2" onfocusout="ValidarCantidad()">
            </div>
        </div>
    </div>



    <div class="alert alert-danger" role="alert" id="error">
        <ul>
            <li id="errorUser">La cedula del usuario es incorrecta o no se encuentra en el sistema.</li>
            <li id="errorFlights">Se requiere seleccionar un buelo para el boleto.</li>
            <li id="errorCupos">Este vuelo no posee cupos disponibles, por favor seleccione otro.</li>
        </ul>
    </div>

    <button class="btn btn-success" type="submit" id="submitBtn" onclick="validationFiels()">Crear</button>
</form>


@section scripts
{
    <script type="text/javascript">
        //Oculta la informacion del usuario
        $(document).ready(function () {
            HideAllError();

            $('#usersInformation').hide();
            $('#flightsInformation').hide();
        });

        function HideAllError() {
            $('#error').hide();
            $('#errorUser').hide();
            $('#errorFlights').hide();
            $('#errorCupos').hide();
        }

        //Setea el precio del boleto
        function FunctionChangeFlights() {
            HideAllError();

            let flightsId = $("#FlightsId").val();
            let precio = 0;
            let cupos = 0;

            @foreach (var item in apiListFlights)
            {
                <text>
                if (flightsId == '@item.Id')
                {
                    precio = '@item.Precio';
                    cupos = '@item.Cupos';
                }
                </text>
            }
            $("#Precio").val(precio);
            $("#Cupos").val(cupos);

            $('#flightsInformation').show();

            if (cupos == 0) {
                $('#error').show();
                $('#errorCupos').show();

                $("#submitBtn").prop('disabled', true);
            } else {
                $("#submitBtn").prop('disabled', false);
                $('#error').hide();
                $('#errorCupos').hide();
            }
        }

        //busca la informacion del usuario
        function GetUsersByCedula() {
            HideAllError();
            let x = $("#Cedula").val();

            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetUsersByCedula", "Users")',
                global: false,
                data: {
                    cedula: x
                },
                cache: false,
                success: function (data) {
                    if (data != null) {
                        $('#usersInformation').show();

                        $("#UsersId").val(data['id']);
                        $("#Nombre").val(data['nombre']);
                        $("#Apellido").val(data['apellido']);
                        $("#Telefono").val(data['telefono']);

                        $("#submitBtn").prop('disabled', false);
                    } else {
                        $('#usersInformation').hide();

                        $("#submitBtn").prop('disabled', true);

                        $('#error').show();
                        $('#errorUser').show();
                    }
                }
            });
        }

        //Validar que la cantidad no pase el maximo de cupos del vuelo
        function ValidarCantidad() {
            let purchasedSeats = $("#PurchasedSeats").val();
            let cupos = $("#Cupos").val();

            if (purchasedSeats > cupos) {
                $("#PurchasedSeats").val(cupos);
            }
        }

        //evitar el submit y mostrar el error para cedula errada para el boleto o no posee vuelo
        $("form").submit(function (e) {
            HideAllError();

            let x = $("#Cedula").val();
            let y = $("#FlightsId").val();

            if (x == "" || y == null) {
                if (x == "") {
                    $('#errorUser').show();
                }


                if (y == null) {
                    $('#errorFlights').show();
                }

                $('#error').show();
                event.preventDefault();
            }
        });
    </script>
}