﻿@{
    ViewData["_Title"] = "Boletos";
    Entities.Travels apiItem = (Entities.Travels)ViewData["item"];
}

<div class="card">
    <div class="card-header">
        Datos del @ViewData["_Title"]
    </div>
    <div class="card-body">
        <blockquote class="blockquote mb-0">
            <p>Nombre completo del Usuario: @apiItem.Users.Nombre @apiItem.Users.Apellido</p>
            <p>Informacion de contacto (Telf): @apiItem.Users.Telefono.</p>

            <p>Origen - Destino: @apiItem.Flights.Origen - @apiItem.Flights.Destino.</p>
            <p>Cantidad de Asientos Comprados: @apiItem.PurchasedSeats.</p>
            <p id="text"></p>
        </blockquote>
    </div>
    <input type="hidden" id="PurchasedSeats" name="PurchasedSeats" value="@apiItem.PurchasedSeats">
    <input type="hidden" id="Precio" name="Precio" value="@apiItem.Flights.Precio">
</div>
<br />
<a asp-controller="Travels" asp-action="Edit" asp-route-id="@apiItem.Id" class="btn btn-success">Actualizar</a>
<button onclick="FunctionDelete(@apiItem.Id)" type="button" class="btn btn-danger" id="">Borrar</button>


@section scripts
{
    <script type="text/javascript">
        //Oculta la informacion del usuario
        $(document).ready(function () {
            let purchasedSeats = $("#PurchasedSeats").val();
            let precio = $("#Precio").val();
            console.log(purchasedSeats);
            console.log(precio);
            console.log(purchasedSeats * precio);

            $("#text").text("Costo: " + (purchasedSeats * precio) + ".");
        });

        function FunctionDelete(id) {
        let opcion = confirm("¿Seguro que desea eliminar?");
        if (opcion == true) {
            location.href = '@Url.Action("Delete", "Travels")?id=' + id;
        }
    }
    </script>
}