﻿@model Entities.Travels;
@{
    ViewData["Title"] = "Crear un Boleto";
    List<Entities.Flights> apiListFlights = (List<Entities.Flights>)ViewData["listFlights"];
}
<h3>@ViewData["Title"]</h3>
<br />
<br />
<form asp-controller="Travels" asp-action="Create" method="post" autocomplete="off">
    <div class="mb-3 row">
        <label for="" class="col-sm-2 col-form-label">Cedula</label>
        <div class="col-sm-10">
            <input type="text" readonly disabled class="form-control validate numeric" id="Cedula" value="@Html.DisplayFor(m => m.Users.Cedula)">
        </div>
    </div>

    <div id="usersInformation">
        <div class="mb-3 row">
            <label for="" class="col-sm-2 col-form-label">Nombre</label>
            <div class="col-sm-10">
                <input type="text" readonly class="form-control-plaintext" id="Nombre" value="@Html.DisplayFor(m => m.Users.Nombre)">
            </div>
        </div>

        <div class="mb-3 row">
            <label for="" class="col-sm-2 col-form-label">Apellido</label>
            <div class="col-sm-10">
                <input type="text" readonly class="form-control-plaintext" id="Apellido" value="@Html.DisplayFor(m => m.Users.Apellido)">
            </div>
        </div>

        <div class="mb-3 row">
            <label for="" class="col-sm-2 col-form-label">Telefono</label>
            <div class="col-sm-10">
                <input type="text" readonly class="form-control-plaintext" id="Telefono" value="@Html.DisplayFor(m => m.Users.Telefono)">
            </div>
        </div>

        <input type="hidden" class="form-control" id="UsersId" name="UsersId" value="@Html.DisplayFor(m => m.UsersId)">
    </div>



    <div class="mb-3 row">
        <label for="FlightsId" class="col-sm-2 col-form-label">FlightsId</label>
        <div class="col-sm-10">
            <input type="hidden" class="form-control" id="FlightsId" name="FlightsId" value="@Html.DisplayFor(m => m.FlightsId)">
            <input type="text" readonly class="form-control-plaintext" value="@Html.DisplayFor(m => m.Flights.Origen) - @Html.DisplayFor(m => m.Flights.Destino)">
            @*<select disabled requerido class="form-control" id="FlightsId" name="FlightsId" value="@Html.DisplayFor(m => m.FlightsId)">
            <option disabled>Open this select menu</option>
            @foreach (var item in apiListFlights)
            {
                if (item.Id == Model.FlightsId)
                {
                    <option selected value="@item.Id">@item.Origen - @item.Destino</option>
                }
                else
                {
                    <option value="@item.Id">@item.Origen - @item.Destino</option>
                }

            }
        </select>*@
        </div>
    </div>

    <div id="flightsInformation">
        <div class="mb-3 row">
            <label for="" class="col-sm-2 col-form-label">Precio</label>
            <div class="col-sm-10">
                <input type="text" readonly class="form-control-plaintext" id="Precio" value="@Html.DisplayFor(m => m.Flights.Precio)">
            </div>
        </div>

        <div class="mb-3 row">
            <label for="" class="col-sm-2 col-form-label">Cupos Disponibles</label>
            <div class="col-sm-10">
                <input type="text" readonly class="form-control-plaintext" id="Cupos" value="@Html.DisplayFor(m => m.Flights.Cupos)">
            </div>
        </div>

        <div class="mb-3 row">
            <label for="Cedula" class="col-sm-2 col-form-label">Asientos</label>
            <div class="col-sm-10">
                <input type="text" class="form-control validate numeric" id="PurchasedSeats" name="PurchasedSeats" requerido maxlength="2" value="@Html.DisplayFor(m => m.PurchasedSeats)">
            </div>
        </div>
    </div>

    <input type="hidden" class="form-control" id="id" name="id" value="@Html.DisplayFor(m => m.Id)">
    <button class="btn btn-success" type="submit" id="submitBtn" onclick="validationFiels()" asp-route-id="@Html.DisplayFor(m => m.Id)">Actualizar</button>
</form>


@section scripts
{
    <script type="text/javascript">
        let initialPurchasedSeats;
        //Oculta la informacion del usuario
        $(document).ready(function () {
            initialPurchasedSeats = $("#PurchasedSeats").val();
        });

        $("form").submit(function (e) {
            let purchasedSeats = $("#PurchasedSeats").val();
            if (initialPurchasedSeats == purchasedSeats) {
                event.preventDefault();
            }
        });
    </script>
}