﻿@{
    ViewData["_Title"] = "Boletos";
    ViewData["Title"] = "Lista de";
    List<Entities.Travels> apiList = (List<Entities.Travels>)ViewData["list"];
}
<h3>@ViewData["Title"] @ViewData["_Title"]</h3>
<br />
<a asp-controller="Travels" asp-action="Create" class="btn btn-primary">Nuevo @ViewData["_Title"]</a>
<br />
<br />
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">UsersId</th>
            <th scope="col">FlightsId</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in apiList)
        {
            <tr>
                <th scope="row">@item.Id</th>
                <td>@item.UsersId</td>
                <td>@item.FlightsId</td>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                        <a asp-controller="Travels" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-success"><i class="fas fa-redo-alt"></i></a>
                        <a asp-controller="Travels" asp-action="Details" asp-route-id="@item.Id" class="btn btn-secondary"><i class="fab fa-readme"></i></a>
                        <button onclick="FunctionDelete(@item.Id)" type="button" class="btn btn-danger" id=""><i class="fas fa-trash-alt"></i></button>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>



<script>
    function FunctionDelete(id) {
        let opcion = confirm("¿Seguro que desea eliminar?");
        if (opcion == true) {
            location.href = '@Url.Action("Delete", "Travels")?id=' + id;
        }
    }
</script>