﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>
        Una agencia de viajes desea automatizar toda la gestión de los clientes que acuden a su oficina y los viajes que estos realizan.
        La agencia proporciona la siguientes requerimientos e información de interés:
    </p>
</div>

<ul>
    <li> Se desea guardar la siguiente información de los viajeros:cédula, nombre, dirección y teléfono.</li>
    <li>Se desea agregar información de viajes disponibles para ofrecer a los clientes: código de viaje, número de plazas, destino , lugar de origen y precio.</li>
    <li>Un viajero puede realizar tantos viajes como desee.</li>
</ul>
