﻿@{
    ViewData["Title"] = "Perfil Allyson Diaz";
}
<h1>@ViewData["Title"]</h1>

<div id="iframe">
    <iframe src="~/src/pdf/Allyson Diaz CV.pdf" width="100%" height="700px"></iframe>
</div>


@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            var height = $(window).height();
            $('#iframe').height(height);
        });
    </script>
}
