﻿@{
    ViewData["_Title"] = "Usuarios";
    Entities.Users apiItem = (Entities.Users)ViewData["item"];
}

<div class="card">
    <div class="card-header">
        Datos del @ViewData["_Title"]
    </div>
    <div class="card-body">
        <blockquote class="blockquote mb-0">
            <p>Nombre: @apiItem.Nombre.</p>
            <p>Apellido: @apiItem.Apellido.</p>
            <p>Cedula: @apiItem.Cedula.</p>
            <p>Telefono: @apiItem.Telefono.</p>
            <p>Direccion: @apiItem.Direccion.</p>
            @*<footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>*@
        </blockquote>
    </div>
</div>
<br />
<a asp-controller="Users" asp-action="Edit" asp-route-id="@apiItem.Id" class="btn btn-success">Actualizar</a>
<button onclick="FunctionDelete(@apiItem.Id)" type="button" class="btn btn-danger" id="">Borrar</button>

@section scripts
{
    <script type="text/javascript">
        function FunctionDelete(id) {
            let opcion = confirm("¿Seguro que desea eliminar?");
            if (opcion == true)
            {
                location.href = '@Url.Action("Delete", "Users")?id=' + id;
            }
        }
    </script>
}