﻿@model Entities.Users;
@{
    ViewData["Title"] = "Actualizar un Usuario";
}
<h3>@ViewData["Title"]</h3>
<br />
<br />
<form asp-controller="Users" asp-action="Edit" method="post" autocomplete="off">
    <div class="mb-3 row">
        <label for="Nombre" class="col-sm-2 col-form-label">Nombre</label>
        <div class="col-sm-10">
            <input type="text" class="form-control validate letter" id="Nombre" name="Nombre" requerido maxlength="25" value="@Html.DisplayFor(m => m.Nombre)">
        </div>
    </div>

    <div class="mb-3 row">
        <label for="Apellido" class="col-sm-2 col-form-label">Apellido</label>
        <div class="col-sm-10">
            <input type="text" class="form-control validate letter" id="Apellido" name="Apellido" requerido maxlength="25" value="@Html.DisplayFor(m => m.Apellido)">
        </div>
    </div>

    <div class="mb-3 row">
        <label for="Cedula" class="col-sm-2 col-form-label">Cedula</label>
        <div class="col-sm-10">
            <input type="text" class="form-control validate numeric" id="Cedula" name="Cedula" requerido maxlength="9" onfocusout="GetUsersByCedula()" value="@Html.DisplayFor(m => m.Cedula)">
        </div>
    </div>

    <div class="mb-3 row">
        <label for="Telefono" class="col-sm-2 col-form-label">Telefono</label>
        <div class="col-sm-10">
            <input type="text" class="form-control validate numeric" id="Telefono" name="Telefono" requerido maxlength="11" value="@Html.DisplayFor(m => m.Telefono)">
        </div>
    </div>

    <div class="mb-3 row">
        <label for="Direccion" class="col-sm-2 col-form-label">Direccion</label>
        <div class="col-sm-10">
            <input type="text" class="form-control validate" id="Direccion" name="Direccion" requerido maxlength="50" value="@Html.DisplayFor(m => m.Direccion)">
        </div>
    </div>


    <div class="alert alert-danger" role="alert" id="error">
        <ul>
            <li>La cedula del usuario es incorrecta o no se encuentra en el sistema.</li>
        </ul>
    </div>

    <input type="hidden" class="form-control" id="id" name="id" value="@Html.DisplayFor(m => m.Id)">
    <button class="btn btn-success" type="submit" id="submitBtn" onclick="validationFiels()" asp-route-id="@Html.DisplayFor(m => m.Id)">Actualizar</button>
</form>

@section scripts
{
    <script type="text/javascript">
        let cedulaGlobal = $("#Cedula").val();

        //Oculta la informacion del usuario
        $(document).ready(function () {
            $('#error').hide();
        });

        //busca la informacion del usuario
        function GetUsersByCedula() {
            let x = $("#Cedula").val();

            if (cedulaGlobal == x) { return; }

            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetUsersByCedula", "Users")',
                global: false,
                data: {
                    cedula: x
                },
                cache: false,
                success: function (data) {
                    if (data != null) {
                        $('#error').show();
                        $("#submitBtn").prop('disabled', true);
                    } else {
                        $('#error').hide();
                        $("#submitBtn").prop('disabled', false);
                    }
                }
            });
        }
    </script>
}