﻿@{
    ViewData["_Title"] = "Usuarios";
    ViewData["Title"] = "Lista de";
    List<Entities.Users> apiList = (List<Entities.Users>)ViewData["list"];
}
<h3>@ViewData["Title"] @ViewData["_Title"]</h3>
<br />
<a asp-controller="Users" asp-action="Create" class="btn btn-primary">Nuevo @ViewData["_Title"]</a>
<br />
<br />
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Cedula</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in apiList)
        {
            <tr>
                <th scope="row">@item.Id</th>
                <td>@item.Nombre</td>
                <td>@item.Apellido</td>
                <td>@item.Cedula</td>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                        <a asp-controller="Users" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-success"><i class="fas fa-redo-alt"></i></a>
                        <a asp-controller="Users" asp-action="Details" asp-route-id="@item.Id" class="btn btn-secondary"><i class="fab fa-readme"></i></a>
                        <button onclick="FunctionDelete(@item.Id)" type="button" class="btn btn-danger" id=""><i class="fas fa-trash-alt"></i></button>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>


<script>
    
</script>

@section scripts
{
    <script type="text/javascript">
        function FunctionDelete(id) {
            let opcion = confirm("¿Seguro que desea eliminar?");
            if (opcion == true)
            {
                location.href = '@Url.Action("Delete", "Users")?id=' + id;
            }
        }
    </script>
}